<div class="upsell-popup-wrapper display-none">
  <label class="upsell-popup-overlay"></label>
  <div class="upsell-detail-popup">
    <label
      class="upsell-close-icon text-right pt-2 px-2"
    >
      <img
        src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/close.png?v=1736092528"
        width="32"
        height="32"
        alt="close"
      >
    </label>
    <div class="overflow-auto">
      <div class="inner-block-content">
        <div class="upsell-above-content">
          <div class="upsell-popup-image position-relative">
            <img
              src=""
              class="w-100 h-auto"
              alt="image"
              width="247px"
              height="247px"
            >
            <span class="upsell-saving-tag font-lausanne fw-400 popup-saving-tag display-none">Bestseller</span>
          </div>
          <div class="upsell-popup-content">
            <div class="font-lausanne fw-400 heading-3 upsell-popup-title">Oh! de Loo</div>
            <p class="fw-200 font-lausanne upsell-popup-summary">Our Oh! de Loo deodorising drops are a quick and easy way to freshen up the loo, the plug, the bin, and anywhere else that needs it</p>
          </div>
        </div>
        <span></span>
        <div class="upsell-popup-details">
          <h3 class="font-lausanne fw-400">Details</h3>
          <div class="upsell-popup-desc">
            <ul>
              <li>Lime & Lemongrass (90ml) essential oil scented deodorising drops</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
