<div class="annoucment-bar py-2 font-pier" style="background-color:#0a1e1a">
  <div class="container text-center" style="color:#fff">
    <a 
      data-tracked="true" data-page-url="/" data-target-url="" data-index="1" data-funnel-stage="hp" data-module="announcement_bar" data-event-label="save_up_to_66_including_2_free_bottles_and_cloths" data-event-value="shop_anchor" data-item-id="" data-option-index="" data-item-name=""
      {% if template.name == 'index' or template.suffix  == "PF215-homepage-new-1" or template.suffix  == "pf197-homepage-v1" or  template.suffix == "pf197-homepage-v2"  %}
          href="javascript:void(0);"
          class="click-scroll" data-target="starterkit-product" data-top="-125"
        {% else %}
      href="/#starterkit-product"
      {% endif %}
      style="color:#fff">
      Save up to <span class="market-place-currency"></span>66 including 2 FREE bottles and cloths
    </a>
  </div>
</div>