<div class="articel-footer" style="background-color:{{ section.settings.background-color }};">
  <div class="container">
    <div class="text-center footer-text fw-400 font-lausanne " style="color:{{ section.settings.text-color }}">
      {{ section.settings.footer }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article Footer",
  "settings" : [
    {
       "type": "color",
       "id": "background-color",
       "label": "Background Color"
     },
    {
       "type": "color",
       "id": "text-color",
       "label": "Text Color"
     },
     {
    "type": "text",
    "id": "footer",
    "label": "Footer Text"
  },

  ],
  "presets": [
		{
			"name": "Article Footer"
		}
	]

}
{% endschema %}
