<div class="block-section py-80 icon-blocks-2">
  <div class="container">
    <h2 class="heading-2 text-center m-text-left blue-text value-bold mt-0 ">
      {{ section.settings.heading }}
    </h2>
    <div class="d-flex flex-wrap justify-content-between  theme-text my-1 icon-blocks-2-wrapper">
      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Powerful Clean</h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Frame_48096340_1.png?v=1699517603"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            Super concentrated formula that cleans effortlessly, contained within one versatile bottle suitable for every room in your house. 
          </p>
        </div>
      </div>

      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Natural Scents</h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Frame_48096340_3.png?v=1699517603"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            Discover limited edition essential oil blends that reflect each season, leaving your home smelling like a luxurious spa all year round.
          </p>
        </div>
      </div>

      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Refillable & Reusable</h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Frame_48096340.png?v=1699517604"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            Sustainable, convenient cleaning products. Reusable glass bottles and three monthly deliveries of seasonal scents. Fully recyclable with zero single use plastic.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
 {
   "name": "Icon blocks 2",
   "settings": [
    {
     "type": "text",
      "id" : "heading",
      "label": "Heading",
      "default": "You've never enjoyed cleaning this much"
    }
],

"presets": [
	{
		"name": "Icon blocks 2"
	}
]
 }
{% endschema %}
