<div class="block-section py-80 icon-blocks-2">
  <div class="container">
    <h2 class="heading-2 text-center m-text-left blue-text value-bold mt-0 ">
      {{ section.settings.heading }}
    </h2>
    <div class="d-flex flex-wrap justify-content-between  theme-text my-1 icon-blocks-2-wrapper">
      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Member Exclusive </h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Group_11202_8b773757-cece-4013-a480-39c37cc0e142.png?v=1714650745"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            VIP access to our limited edition scents all year round. 
          </p>
        </div>
      </div>

      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Save More</h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Group_11203.png?v=1714650745"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            Save 15% on seasonal refills, always, as a member.
          </p>
        </div>
      </div>

      <div class="w-33 p-3 icon-block-2">
        <div class="text-center ">
          <h3 class="heading-4 value-bold blue-text my-3 ">Enjoy Limited Edition Scents</h3>
          <div class="block-img-wrappers mb-2">
            <img
              src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Group_11213.png?v=1714650745"
              width="57"
              height="56"
              alt="icon"
            >
          </div>

          <p class="value-sans normal-text">
            Discover new, natural scents that reflect the season.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
 {
   "name": "Icon blocks 2",
   "settings": [
    {
     "type": "text",
      "id" : "heading",
      "label": "Heading",
      "default": "You've never enjoyed cleaning this much"
    }
],

"presets": [
	{
		"name": "Icon blocks 2"
	}
]
 }
{% endschema %}
