<section class="section section-relative " id="page-block-ltprs7jyg2a" data-at="section" style="background: #98C6DD;">
    <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
    <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute paragraph  " id="element-1194" data-at="paragraph">
                <div class="contents">
                    <p class="x_8ae9aa76 x_b6c3675a">FEATURED</p>
                </div>
            </div>
            <div class="widget item-absolute  " id="element-886">
                <div class="contents cropped item-block" data-at="image-cropp">
                    <img class="item-content-box item-block image " data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225825-0-Asset-9mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225825-0-Asset-9mdpi.webp 2x">
                </div>
            </div>
            <div class="widget item-absolute  " id="element-887">
                <div class="contents cropped item-block" data-at="image-cropp">
                    <img class="item-content-box item-block image " data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225835-0-Asset-11mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225835-0-Asset-11mdpi.webp 2x">
                </div>
            </div>
            <div class="widget item-absolute  " id="element-888">
                <div class="contents cropped item-block" data-at="image-cropp">
                    <img class="item-content-box item-block image " data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225830-0-Asset-10mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60225830-0-Asset-10mdpi.webp 2x">
                </div>
            </div>
        </div>
    </div>
</section>
    
{% schema %}
  {
    "name": "Instapage Featured",
    "settings": [],
    "presets": [
      {
        "name": "Instapage Featured"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}