<style>
  h1 {
    font-family: 'GT Super' !important;
    font-size: 40px;
  }
  
  body {
    background: #E7EBEA;
  }

.header {
  box-shadow: none !important;
}
  
.annoucment-bar {
  display: none !important;
}
  
.confirmation-container {
  text-align: center;
}

.confirmation-hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Hero-Desktop_1.png?v=1750412374");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.coming-bar {
  display: none;
    width: 100%;
  color: var(--Primary-500, #11322C);
text-align: center;

}

.coming-bar img {
  width: 17px;
  height: 19px;
  flex-shrink: 0;
vertical-align: middle;
}

.confirmation-inner-container {
    max-width: 800px;
    max-width: 87ch;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.confirmation-box {
  font-family: "Lausanne";
  font-size: 18px;
  font-weight: 200;
    background-color: #ffffff;
    max-width: 960px;
    height: auto;
    padding: 40px 20px;
  margin: -110px auto 0;
  text-align: center;
}

.further-details {
  font-weight: 400;
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
}

span.small-title {
  display: block;
}

span.text-alt {
  font-family: 'GT Super' !important;
  font-style: italic !important;
}

  .shop-now-cta {
    font-family: "Lausanne";
    background: #11322c !important;
    color: #ffffff !important;
    width: 343px;
    font-size: 16px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px;
    min-height: 48px;
    padding: 15px 16px !important;
    border: 0 !important;
    margin-top: 12px;   
  }

  .shop-now-cta a {
    text-color: #ffffff;
  }

@media (max-width: 768px) {

.confirmation-hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Hero-Mobile_1.png?v=1750412371");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.coming-bar {
  display: block;
  width: 100%;
  color: var(--Primary-500, #11322C);
text-align: center;
/* Mobile/Body Small/Regular */
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
letter-spacing: 0.18px;
display: flex;
width: 100%;
height: 37px;
padding: 8px 0px;
flex-direction: row;
justify-content: center;
align-items: end;
flex-shrink: 0;
  background: #EAFF65;
  gap: 4px;
}

.confirmation-box {
    background-color: #ffffff;
    width: 90%;
    height: auto;
    padding: 25px 15px 15px 15px;
  margin: -165px auto 0;
  text-align: center;
}

  span.text-alt {
  display: block;
}

.further-details {
  text-align: center;
  width: 90%;
  margin: 40px auto;
}

.shop-now-cta {
  margin-top: 5px;
  width: 100%;
  }

</style>

<div class="confirmation-container">
  <div class="confirmation-hero">
    <div class="coming-bar"><img src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Frame_4.svg?v=1750415322"/>Coming June 27th</div>
  </div>
  <div class="confirmation-box">
  <h1>You’re on <span class="text-alt">the list</span></h1>
<p >
  You’ve officially signed up for <strong>exclusive access to Lava</strong>, the fizzing, foaming, bleach-replacing <strong>bathroom revolution</strong>.
</p>
    <a href="https://purdyandfigg.com/"><span class="shop-now-cta btn">CONTINUE SHOPPING</span></a>
  </div><!-- END conformation-box -->
  <div class="further-details">
  <p>
    This is the only way to get Lava and you're one of the few on the inside.
  </p>
  <p>
    <span class="small-title">What's next?</span>
    Keep your eyes on your inbox. Lava is live on 27th June.
  </p>
  <p style="margin-top: 40px">
    <span class="small-title">Access is guaranteed. Stock isn't.</span>
    Lava is launching in limited quantities and once it's gone, it's gone (for now). So when you get the tap on the shoulder, you'll need to move fast.
  </p>
</div>
</div>

{% schema %}
 {
   "name": "Confirmation PF365",

    "presets": [
         {
             "name": "Confirmation PF365"
         }
    ]
 }
{% endschema %}
