{% comment %} <div id="onsite-consent-pages-root" style="height: 100%">
   <div style="background-color: rgb(255, 255, 255); display: flex; justify-content: center; min-height: 100%; padding-top: 40px; padding-bottom: 40px; width: 100%; box-sizing: border-box;">
      <form style="max-width: 100%;">
         <div style="height: fit-content; width: 558px; background-color: rgb(17, 50, 44); border: 1px solid rgb(204, 204, 204); border-radius: 0px; padding: 20px 30px; max-width: 100%; box-sizing: border-box;">
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 0px 6px; background-color: rgb(17, 50, 44); position: relative; flex: 1 1 0%;"><img src="https://d3k81ch9hvuctc.cloudfront.net/company/H7J3FA/images/be2d8f36-c205-4947-9d02-6d1662cb0020.jpeg" alt="" style="max-width: 100%; width: 1000px; margin: 0px auto;"></div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 17px 6px 10px; background-color: rgb(17, 50, 44); position: relative; flex: 1 1 0%;"><img src="https://d3k81ch9hvuctc.cloudfront.net/company/H7J3FA/images/4b255e3a-4410-4347-99b0-a7882585bf58.png" alt="" style="max-width: 100%; width: 500px; margin: 0px auto;"></div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 10px 6px; background-color: rgb(17, 50, 44); position: relative; flex: 1 1 0%;">
                  <style>* {
                     margin-block: unset;
                     }
                  </style>
                  <div style="width: 100%; font-family: &quot;Helvetica Neue&quot;, Arial; color: rgb(34, 34, 34);">
                     <div style="text-align: center;"><span style="font-family: GTSUperDisplayRegular, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif; font-weight: 400; color: rgb(255, 255, 255); font-style: normal; font-size: 24px;">Early Access: Sign up for FREE Christmas Scent!</span></div>
                  </div>
               </div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 10px 6px; background-color: rgba(255, 255, 255, 0); position: relative; flex: 1 1 0%;">
                  <style>* {
                     margin-block: unset;
                     }
                  </style>
                  <div style="width: 100%; font-family: &quot;Helvetica Neue&quot;, Arial; color: rgb(34, 34, 34);">
                     <p style="font-family: 'Helvetica Neue', Arial; font-size: 13px; line-height: 150%; color: rgb(34, 34, 34);"><span style="font-family: Lausanne, Helvetica, Arial, sans-serif; font-weight: 200; font-style: normal; font-size: 18px; color: rgb(255, 255, 255);"><span style="font-size: 16px;">Our best selling Frankincense &amp; Myrrh scent is returning soon. Enter your email below for early access and get it for FREE with any Starter Kit on 1st November.</span><br></span></p>
                  </div>
               </div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 5px 30px 15px; background-color: rgb(17, 50, 44); position: relative; flex: 1 1 0%;">
                  <input name="$email" type="hidden" value="" style="display: none;">
                  <div style="display: flex; width: 100%; flex-direction: column;">
                     <label for="kl-consent-page-25d84df76c374363b9ab48ebc899ea3b" style="font-family: TWKLausanne, TimesNewRoman, &quot;Times New Roman&quot;, Times, Baskerville, Georgia, serif; font-size: 16px; font-weight: 400; color: rgb(255, 255, 255); margin-bottom: 8px;">Email <span style="color: rgb(231, 76, 60);">*</span></label>
                     <div style="display: flex;"><input class="go4230038822" id="kl-consent-page-25d84df76c374363b9ab48ebc899ea3b" placeholder="Email address" aria-required="true" value="" style="color: rgb(255, 255, 255); font-family: Lausanne, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; width: 100%; height: 50px; padding-left: 16px; border: 1px solid rgb(204, 204, 204); border-radius: 0px; box-sizing: border-box;"></div>
                  </div>
               </div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 10px 6px; background-color: rgba(255, 255, 255, 0); position: relative; flex: 1 1 0%;"><button type="submit" class="go2165480932" style="font-family: &quot;Helvetica Neue&quot;, Arial; font-size: 16px; font-weight: 400; color: rgb(17, 50, 44); background-color: rgb(246, 241, 229); border-radius: 2px; border: 0px solid rgb(255, 255, 255); height: 50px; width: 100%; padding: 0px; margin: 0px auto; cursor: pointer;">Register Now</button></div>
            </div>
            <div style="display: flex; position: relative;">
               <div style="display: flex; flex-direction: column; padding: 10px 6px; background-color: rgb(17, 50, 44); position: relative; flex: 1 1 0%;">
                  <style>
                     .kl_sms_disclosure_component_9599bba6a21c46b7842e9dee65548ae6 :not(a) {
                     color: #FFFFFF;
                     font-family: 'Lausanne', Helvetica, Arial, sans-serif;
                     font-size: 10px;
                     }
                     .kl_sms_disclosure_component_9599bba6a21c46b7842e9dee65548ae6 a {
                     color: #0064CD;
                     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                     font-size: 10px;
                     }
                     * {
                     margin-block: unset;
                     }
                  </style>
                  <div class="kl_sms_disclosure_component_9599bba6a21c46b7842e9dee65548ae6" style="width: 100%; font-family: &quot;Helvetica Neue&quot;, Arial; color: rgb(34, 34, 34);">
                     <p>By submitting this form you consent to receive marketing from Purdy &amp; Figg.&nbsp;<a href="https://purdyandfigg.com/policies/privacy-policy">Privacy Policy</a> &amp; <a href="https://purdyandfigg.com/policies/terms-of-service">Terms</a>.</p>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div> {% endcomment %}

<div class="klaviyo-form-Xpe4sd"></div>

<!-- <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=H7J3FA"></script> -->

{% schema %}
  {
    "name": "Signup-Christmas",
    "settings": [],
    "presets": [
	{
		"name": "Signup-Christmas"
	}
]
  }
  
{% endschema %}