<style>
  h1 {
    font-family: 'GT Super' !important;
  }
  
  body {
    background: #AAC86E;
  }
  
  .confirmation-container {
    max-width: 560px;
    max-width: 65ch;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
</style>

<div class="confirmation-container">
  <h1>You’re in!</h1>

<p >
  Thanks for signing up for early access to our limited edition Summer Lawn scent.
</p>
  <p>
Check your inbox — your confirmation email is on its way. (If you don’t see it, peek in your spam or promotions folder.)
  </p>
  <p>
We’ll be in touch soon with your 24-hour head start and 50% exclusive member saving.
  </p>
  <p>
Summer's almost here. You're first in line.
</p>
</div>
