{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 9/29/21 7:29AM
{% endcomment %}
<div class="spacing--4x">
  <article class="page-wrapper spacing--5">
   
    <div class="spacer spacing--4y"></div>
    <div class="rte-content content">
      <div id="talkable-offer" style="margin-top: 45px;"></div>
    </div>
  </article>
</div>
